@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --shadow-2xl: 3px 3px 10px 0 rgba(0, 0, 0, 0.12);
}

*{
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}